extends website.pug

block append title
  | #{page_title_string} | Comics | Kamigen | A Tropical Cyberpunk RPG

block append content
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a.ui.grey.large.labeled.icon.button(href=previous_url)
            i.icon.reply
            | Previous
        .column.six.wide
          a.ui.grey.large.labeled.icon.button(href="/comics.html")
            i.icon.book
            | Page Gallery
        .column.five.wide
          if next_url
            a.ui.grey.large.right.labeled.icon.button(href=next_url)
              i.icon.share
              | Next
          else 
            .ui.grey.large.right.labeled.icon.button Coming soon!
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.sixteen.wide
        if next_url
          a(href=next_url)
            img.ui.image.fluid(src=image_url)
        else
          a(href="/comics.html")
            img.ui.image.fluid(src=image_url)
  .row
    .column
      .ui.one.column.stackable.center.aligned.page.grid
        .column.five.wide
          a.ui.grey.large.labeled.icon.button(href=previous_url)
            i.icon.reply
            | Previous
        .column.six.wide
          a.ui.grey.large.labeled.icon.button(href="/comics.html")
            i.icon.book
            | Page Gallery
        .column.five.wide
          if next_url
            a.ui.grey.large.right.labeled.icon.button(href=next_url)
              i.icon.share
              | Next
          else 
            .ui.grey.large.right.labeled.icon.button Coming soon!
